@media only screen and (min-width: 991px) {
	.borderright{
		border-right: 2px dashed #CCCCCC;
	}
	.btn-size{
		width: 100%;
	}
	.img-styles{
		width: 100%;
		min-height: 186px;
	  }
	  .bodycontainer{
		background-color:#eeeeee;
	}
	p,.card-body,span{
		font-size: 14px; 
	}
	.blackstrip{
		max-height:215px;
		height:215px;
	}
	.blackstrip{
		padding:20px 0 0;
	}
}