body {
	font-family: 'Roboto', sans-serif;
}
p,.card-body,span{
	font-size: 10px;
	line-height: 1.286;  
}
a:link{
	color:#8CC63F;
	font-weight: bold;
	cursor:hand;
}
	
	a:visited{
	color:#8CC63F;
	font-weight: bold;
	cursor:hand;
}
	
	a:hover{
	color:#b9da5a;
	font-weight: bold;
	cursor:hand;
}
	
	a:active{
	color:#8CC63F;
	font-weight: bold;
}
	
.makegrey{
	color:#A3A3A3;
}

.border-right-grey{
	color:#A3A3A3;
	border-right: 1px solid #A3A3A3;
}

.hideme{
	display:none;
}

#toplogin{
	height:30px;
	margin:0 auto;
    min-width:320px;
	background:#b9da5a; /* 333333 581474 */
	float:center;
	color:#7d7d7d;
	font-size:11px;
	text-align:right;
	padding:0;
}

#toplogin .container{
	max-width:1290px !important;
	width: 90%;
	max-width:90%;
	margin-left:2%;
	height:30px;
	margin:0 auto;
	float:center;
	padding-top:0;
}

#toplogin .container .loginactions{
	background:#b9da5a; /* 333333 581474 */
	height:28px;
	color:#5b711b;
	width:100%;
	float:right;
	padding:0;
	border:1px solid #b9da5a; /* 333333 581474 */
	border-right:0;
	border-bottom-left-radius: 5px;

}

#toplogin .container .loginactions ul{
	float:right;
	padding:0;
	margin:0;
	list-style:none;
	width:90%;
}

#toplogin .container .loginactions ul li{
	float:right;
	list-style:none;
	margin-left:10px;
}

#toplogin .container .loginactions ul li.nopad{
	margin-left:0px;
}

#toplogin .container .loginactions ul li .dotline{
	border-bottom: 1px dotted #ffffff;
}

#toplogin .container .loginactions ul li.padme{
	padding: 8px 5px;
}

#toplogin .container .loginactions a{
 margin:0;
 margin-top:-1px;
 float:right;
 color:#5b711b;
}

#toplogin .container .loginactions a.depositlink{
	 color:#ffffff;
}

#toplogin .container .loginactions a:hover, #toplogin .container .loginactions a.depositlink:hover{
 color:#80973c;
}


#toplogin .headertime{
	margin-right:10px;
	float:left;
	height:30px;
	 padding: 8px 5px;
}

#topbanner{
height:80px;
margin:0 auto;
width: 100%;

min-width:320px;
background:#ffffff; /* 333333 671689 */
border:0px solid #4a4949;
min-height:80px;
}

#topbanner .top{
width: 90%;
max-width:1290px !important;
max-width:90%;
margin-left:2%;
height:90px;
margin:0 auto;
padding:0%;
}

#topbanner .topleft{
width:100%;
text-align:center;
margin-left:0px;
margin-top:10px;
padding:0;
}

#topbanner .globalmenu, #topbanner .accountmenu, #topbanner .avatarmenu, #topbanner #triggerbetslipmobile{
	display:none;
	float:left;
}

#topbanner .topleft .logo img{
	border:0px solid #4a4949;
	width:auto;
	height:auto;
	margin-top:-35px;
	text-align:center;
}

#topbanner .topright{
width:30%;
float:right;
}

#topbanner .topright .betheread{
	margin-top:20px;
}

/***** Footer *****/

#footer{
	height:auto;
	margin:0 auto;
	width: 100%;
	background:#222222;
	border:0px solid #4a4949;
	text-align:center;
	min-width:320px;
	max-width:1920px;
	min-height:15%;
	padding:3% 2% 3% 2%;
	clear:both;
	display:block;
}

#footertail{
	height:auto;
	margin:0 auto;
	width: 100%;
	background:#222222;
	border:0px solid #4a4949;
	text-align:center;
	max-height:25%;
	clear:left;
	color:#a575bc;
	font-size:0.75em;
	min-width:320px;
	padding:2%;
}

#footer .content, #footertail .content {
width: 90%;
max-width:90%;
margin-left:2%;
height:100%;
margin:0 auto;
padding:0;
text-align:center;
color:#464646;
}

#footertail .content a{
	color:#464646;
	font-weight:normal;
	text-decoration:underline;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
	padding:0;
   clear: both;
   min-width:320px;
}

#footer .columnleft{
	float:left;
	width:20%;
	text-align:left;
}

#footer .columnright{
	float:right;
	width:15%;
	text-align:right;
}

#footer ul{
	list-style:none;
	height:120%;
	text-align:center;
	width:100%;
}

#footer ul li{
	list-style:none;
	padding:0.5% 0% 0.5% 0.5%;
	line-height:100%;
	margin:0;
	display:inline;
	color:#464646;
	font-size:0.75em;
}

#footer ul li h3{
	color:#464646;
	text-transform:uppercase;
	font-size:0.9em;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 1% 0;
	padding:0;
}

#footer ul li a{
	color:#464646;
	text-align:left;
	text-decoration:none;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

#footer ul li a:hover, #footertail a:hover{
	color:#686868;
	text-decoration:none;
}

#footertail.left{
	text-align:left;
	margin:0 2% 0 0;
	width:85%;
	padding:1%;
}

#footertail.right{
	text-align:right;
	width:15%;
	padding:1%;
	float:right;
	margin: 0 !important;
}

@media screen and (max-width: 770px) {
	#footer{
		clear:both;
		width:95%;
		padding:3% 2% 3% 3%;
		height: auto !important;
	    height: 100%;
	    margin: 0 auto;
	}

	#footertail{
		width: 95%;
		padding:7% 2% 7% 3%;
	}

	#footer .content, #footertail .content {
	width: 90%;
	max-width:90%;
	margin-left:1%;
	height:100%;
	margin:0;
	padding:0 0 0 2%;
	}

	.clearfix:after {
	   content: " "; /* Older browser do not support empty content */
	   visibility: hidden;
	   display: block;
	   height: 0;
	   padding:0;
	   margin:0;
	   clear: both;
	   min-width:320px;
	}

	#footer .columnleft{
		float:none;
		width:100%;
		clear:both;
		margin-bottom:5%;
	}

	#footer ul{
		margin:0 5% 0 0;
		padding:0;
	}

	#footer .columnright{
		float:none;
		clear:both;
		width:100%;
		margin-top:2%;
		text-align:left;
	}

	#footer .columnright img{
		width:10%;
		height:10%;
	}

	#footertail{
		padding-top:3%;
		height:20px;
	}
}

.introstrip{
	width:100%;
	max-height:520px;
	height:520px;
	padding:7% 0 0 0;
}

.blackstrip{
	width:100%;
	padding:5px 0 0 0;
	max-height:215px;
	height:215px;
	padding:20px 0 0 0;
	background-color:#313131;
}

.redstrip{
	width:100%;
	max-height:215px;
	height:45px;
	padding:20px 0 0 0;
	background-color:#cb2624;
}

.introstripbg-racing{
	background-color:#cb2624;
	background-image: url("../assets/images/BNAsportsbg.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}

.introstrip h1{
	color:#ffffff;
	font-size:54px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px #3a3a3a; 
	float:left;
}
.contentcontainer{
	width: 90%;
	max-width:1320px !important;
	margin:0 auto;
	padding:0px 20px 0px 20px;
}

.white-bg{
	background-color:#ffffff;
}

.learncontainer{
	background-color:#410c0b;
	background: rgba(54, 25, 25, .5);
	float:right;
	color:#ffffff;
	text-align:center;
}

.learncontainer h3{
	font-size:20px;
}
.learncontainer p{
	font-size:15px;
}

.btn-bna, a.btn-bna {background: #91b039; color: #ffffff; border:0;}
  .btn-bna:hover, a.btn-bna:hover {background: #B9DA5A; }

.bg-darkred{
	width:100%;
	background-color:#410c0b;
	background: rgba(54, 25, 25, .5);
	padding:5px;
}
.norightradius{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.noleftradius{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.promomenu{
	width:100%;
	background-color:#680d0e !important;
	height:65px;
	border-top:1px solid #ab1715;
}

.promomenu ul{
	width:90%;
	list-style:none;
	margin:auto 0;
	height:64px;
}

.promomenu ul li{
	list-style:none;
	float:left;
	border-right:1px solid #ab1715;
	width:20%;
	height:64px;
	padding:10px 0px 10px 0px;
	text-align:center;
	color:#ffffff;
	text-decoration: none;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
}

.promomenu ul li:first-child { 
    border-left:1px solid #ab1715;
}

.promomenu ul li.selected, .promomenu ul li:hover{
	background-color: #ab1715;
}

.promomenu ul li a{
	color:#ffffff !important;
	text-decoration: none;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
}

.promomenu ul li a img{
	margin-right:10px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
	margin-top: 37px;
	line-height: 1.5;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

#learmorestrip{
	height:60px;
	margin:0 auto;
	position: fixed;
		bottom: 0;
		left: 0;
	width: 100%;
	z-index: 80;
	min-width:320px;
	background:#c1d48f; /* 333333 671689 */
	min-height:60px;
}

#learmorestrip .learncontent{
	width: 90%;
	max-width:1290px !important;
	max-width:90%;
	margin-left:2%;
	height:60px;
	margin:0 auto;
	padding:0%;
	color:#333333;
}


.dropdown {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
  }
  
  .dropdown dd,
  .dropdown dt {
	margin: 0px;
	padding: 0px;
  }
  
  .dropdown ul {
	margin: -1px 0 0 0;
  }
  
  .dropdown dd {
	position: relative;
  }
  
  .dropdown a,
  .dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
  }
  
  .dropdown dt a {
	background-color: #4F6877;
	display: block;
	padding: 8px 20px 5px 10px;
	min-height: 25px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
	width: 272px;
  }
  
  .dropdown dt a span,
  .multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
  }
  
  .dropdown dd ul {
	background-color: #4F6877;
	border: 0;
	color: #fff;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: 2px;
	width: 280px;
	list-style: none;
	height: 100px;
	overflow: auto;
  }
  
  .dropdown span.value {
	display: none;
  }
  
  .dropdown dd ul li a {
	padding: 5px;
	display: block;
  }
  
  .dropdown dd ul li a:hover {
	background-color: transparent;
  }
  .dropdown-bna{
	  background-color: transparent;
	  border: transparent;
  }
  
  .img-styles{
	width: 100%;
  }
  .text-color{
	color : #CB2624;
  }
  .borderbottom{
	border-top: 2px dashed #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  .btn-margin{
	margin: 2.5rem 0;
  }
  .progress{
	height: 10px !important;
  }
  .float-right{
	float:right;
  }
.img-max-height{
	max-height: 33px;
}
.btn-search-height{
	max-height: 38px;
}
.nopadding-left{
	padding-left: 0 !important;
}
.nopadding-right{
	padding-right: 0 !important;
}
.form-group{
	margin-bottom: 0 !important;
}
.btn-text{
	color: #fff !important;
}
.bg-promo{
	background-color: #f7f7f7;
}
.row-position{
	position: relative;
}
.text-right{
	text-align: right;
    position: absolute;
    right: 0;
}
.text-height{
	line-height: 2;
}
.image-center{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.img-size{
	width: 20px;
	height: 25px;
}
.img-rotate{
	transform: rotate(270deg);
	position: absolute;
	bottom: 3px;
	left: 40%; 
	width: 10px;
    height: 20px;
	 
}
.info-text{
	font-size: 10px;
}
.img-more{
	width: 30px;
	height: 20px;
	position: absolute;
	bottom: 3px;
	left: 25%;
}
.row-height{
	min-height: 100px;
}
.fa-arrow-color{
	color: #91b039;
}
.menu-right{
	position: absolute;
    right: 0;
    top: 0;
}
.bg-dropdown select:focus , .btn:focus{
	background-color: transparent !important;
	border-color:none;
    box-shadow: none;
}