
<div class="container">
    <div id="content group">
    <div class="col span_1_of_2 contentbox" ng-controller="bookredirectController"
            <div class="contentheader">
                    <h3>Redirecting you to {{bookmakerRedirect}}</h3>
              </div>
            <div class="contentcontainer">
                <div class="contentbody">
                    <p>Directing you to the {{bookmakerRedirect}} join screen...</p>
                    <p ng-bind-html="redirectMessage"></p>
                    <p>You should be automatically redirected in <span id="seconds">7</span> seconds.
                    </p>
                </div>
            </div>
</div> <!-- end main content -->