<div class="containter" ng-controller="mainController">
        <div class="row">
          <div class="col">
              <div class="introstrip introstripbg-racing">
                  <div class="contentcontainer">
                      <h1 ><div ng-bind-html="homeHeader"></div></h1>
                      <div class="card learncontainer" style="width: 18rem;">
                          <div class="card-body">
                            <h6 class="card-title">Learn Title</h6>
                            <p class="card-text">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee</p>
                            <a href="#" data-toggle="modal" data-target="#joinModal" class="btn btn-bna">Join Now</a>
                            <p class="card-text mt-3">Already a member? <a href="#" data-toggle="modal" data-target="#loginModal">Log in</a></p>
                          </div>
                      </div>
                      <div class="clearfix"> </div>
                      <form ng-submit="processSearch()" ng-controller="searchController">
                          <div class="d-md-inline-flex p-2 bg-darkred mt-5">
                              <img class="float-left img-max-height mt-1" src="assets/images/icon/search-icon.png" alt="search-icon"/>
                              <h6 class="float-left text-white mx-3">Search<br/>Offers</h4>
                              <div angucomplete-alt
                                id="searchterm"
                                placeholder="{{searchplace}}"
                                pause="500"
                                selected-object="selectedProject"
                                remote-url="https://thegreattipoff.com/API/promotool.cfc?method=searchTerms"
                                remote-url-request-formatter="remoteUrlRequestFn"
                                remote-url-data-field=""
                                title-field="SEARCHVAL"
                                description-field=""
                                image-field="ICONPATH"
                                minlength="2"
                                input-class="form-control float-left rounded-left norightradius"
                                match-class="highlight"
                                input-name="searchval"
                                class="w-100">
                              </div>
                              <!--<input class="form-control float-left ml-3 rounded-left  norightradius"  id="searchterm" type="text" placeholder="Type here e.g. NRL or Bulldogs or Rugby League or First Try Scorer">-->
                              <input type="submit" id="searchbutton" value="Search" class="btn btn-bna btn-search-height mt-1 float-left rounded-right noleftradius"/>
                          </div>
                      </form>

                  </div>
              </div>
              <div ng-include="'app/shared/app-menu.html'"></div>
        </div>
      </div>
    <div class="bodycontainer">
        <div class="row contentcontainer white-bg">
                

        </div>
        <div class="row contentcontainer pt-3 white-bg"> <h5>Your search results:</h5></div>
        <div class="row contentcontainer white-bg">
              <div class="col pb-5" ng-repeat="x in response.data">
                      <div class="card" style="width: 18rem;">
                              <img class="card-img-top" src="assets/images/events/{{x.SPORTCATEGORY}}.jpg" alt="{{x.SPORTCATEGORY}}">
                              <div class="card-body">
                                <h5 class="card-title">{{x.EVENT}}</h5><br/>
                                <p><i>{{x.EVENTEND | date:'EEE dd, MMMM yyyy'}}</i></p>
                                <p class="card-text"><b>{{x.NPROMOTIONS}} Promotions</b> for this event</p>
                                <a href="viewpromotions/{{x.SPORTLEAGUE}}/{{x.EVENT}}">View Promotions</a>
                              </div>
                      </div>
              </div>
              <p>{{errormessage}}</p><br/>
        </div>
    </div>  
</div>