<div class="containter">
        <div class="row">
          <div class="col">
              <div class="redstrip">
                  <div class="contentcontainer">
                      
                  </div>
              </div>
        </div>
      </div>
      <div class="bodycontainer" ng-controller="managealertController" ng-init="getAlerts()">
            <div class="row contentcontainer pt-3 white-bg clearfix white-bg">
                  <div class="col col-lg-9">
                      <div class="headercontain mb-3">
                          <h3>Manage Alerts</h3>
                      </div>
                      <h4 ><span ng-show="totalalerts!=undefined">{{totalalerts}}</span> Saved Searches</h4>
                      <div ng-show="errorAlert==1" class="alert-danger alert pt-3" role="alert">{{errorStatus}}</div>
                      <div ng-show="errorAlert==0" class="alert-success alert pt-3" role="alert">{{errorStatus}}</div>
            
                      <div class="accordion mb-5" id="accordionExample">
                          <div ng-repeat="x in alerts">
                              <div class="card"  >
                                <div class="card-header" id="heading-{{$index}}">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapse-{{$index}}" aria-expanded="true" aria-controls="collapse-{{$index}}">
                                      <span class="w-20 pr-3 float-left">{{x.SEARCHNAME}}</span>
                                      <span class=" w-20 pr-3 float-left">{{x.CREATEDATE}}</span>
                                      <span class=" w-20 float-right pr-3" ng-click="activateAlert(x.ID)">Alert: <span ng-if="x.ALERTACTIVE == 1">ON&nbsp;</span> <span ng-if="x.ALERTACTIVE == 0">OFF</span></span>
                                      <span class=" w-20 float-right pr-3"><a href="#" ng-click="deleteAlert(x.ID)">Delete</a></span>
                                      <span class=" w-20 float-right pr-3"><a href="#" ng-click="editAlert(x.ID)">Edit</a></span>
                                    </button>
                                  </h5>
                                </div>
                            
                                <div id="collapse-{{$index}}" class="collapse" aria-labelledby="heading-{{$index}}" data-parent="#accordionExample">
                                  <div class="card-body pl-5">
                                          <div class="row">Sport: {{x.SPORTLABEL}}</div>
                                          <div class="row">When: {{x.ALERTTIME}}</div>
                                          <div class="row" ng-show="x.SPORT != 11 && x.SPORT != 12 && x.SPORT != 13">Team: {{x.TEAMS}}</div>
                                          <div class="row" ng-show="x.SPORT == 11 || x.SPORT == 12 || x.SPORT == 13">Location: {{x.EVENT}}</div>
                                          <div class="row">Max Bet: {{x.MAXBET}}</div>
                                          <div class="row">Promotion Types: {{x.PROMOTYPES}}</div>
                                          <div class="row">Benefit Type: {{x.BENEFITTYPE}}</div>
                                  </div>
                                </div>
                              </div>
                            </div> <!--End Repeat -->
                      </div>

                  </div>
                  
                  <div class="col col-lg-3 mb-3">
                      <div class="headercontain">
                          <h3>Ad</h3>
                      </div>
                      <img src="/assets/images/advert/defaultad300px.png" class="img-responsive img-styles" />
                  </div>   
            </div>
        </div>
</div>