<div class="containter" ng-controller="mainController">
        <div class="row">
                <div class="col">
                        <div class="blackstrip">
                                        <div ng-if=!isMobile  ng-include="'app/shared/app-searchmenu.html'"></div>
                                        <div ng-if=isMobile ng-include="'app/shared/app-mobile-searchmenu.html'"></div>
                        </div>
                </div>
        </div>
        <div class="bodycontainer">
                        <div ng-if=!isMobile  ng-include="'app/shared/app-promoresults.html'"></div>
                        <div ng-if=isMobile ng-include="'app/shared/app-mobile-promoresults.html'"></div>
        </div>
</div>