<div ng-controller="showhidectrl">
    <div id="learmorestrip" class="row" ng-show="ngShowhide">
        <div class="col">
            <div class="learncontent d-flex flex-row mb-2 align-items-center justify-content-center">
                <div class="">
                    <img class="p-2 float-left align-middle "  src="assets/images/icon/info.png" />
                    <div class="p-3 float-left align-middle">Learn more about how our promo tool works</div>
                    <a href="#" data-toggle="modal" data-target="#learnModal" id="showlearnmore" class="p-2 m-2 btn float-left btn-bna rounded-right">Learn More</a>
                </div>
                <div class="p-2 float-right" id="closelearn" ng-click="ngShowhideFun(ngShowhide)"><img  class=" align-middle" src="assets/images/icon/close-x.png" /></div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="row">
    <div class="col">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="tipmarket">Tips</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="leaderboard">Leaderboard</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="betting">Betting</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="form-guide">Form Guide</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="news">News</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="follows">Alerts</a>&nbsp;|</li>
            <li class="list-inline-item"><a href="sitemap">Sitemap</a>&nbsp;</li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a rel="nofollow" href ="https://www.facebook.com/bettingnetworka" alt="Like us Facebook BNA" title="Like us Facebook BNA" target="_blank"><img alt="bettingnetworkaustralia.com.au" src="assets/images/facebook-black-50.png"></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://twitter.com/bettingnetworka" alt="Follow us Twitter BNA" title="Follow us Twitter BNA" target="_blank"><img alt="bettingnetworkaustralia.com.au" src="assets/images/twitter-black-50.png"></a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">Phone Support 1300 833 157<br/>
            Phone Support Hours<br/>
            Mon-Fri: 9am to 7pm  Sat: 9am to 5pm  Sun: 9am to 1pm
            </li>
        </ul> 
        <div id="footertail">
                <div class="content" ng-controller="NowDate"> 
                    Copyright &copy {{CurrentDate | date:'yyyy'}} <a href="/">www.bettingnetworkaustralia.com</a> | Stay in Control. <a href="https://www.gamblinghelponline.org.au/" target="_blank">Gamble responsibly</a>.
                </div>
        </div>
    </div>
</div> 
<div ng-include="'app/shared/app-modal.html'"></div>