
<h4>Confirm criteria to be saved</h4>
    <form name="savesearchForm"  role="form" ng-controller="savesearchController">                        
        <div class="form-group" ng-show="isDisplayed==true">
                <input type="text" name="searchName" id="savesearchName" placeholder="Enter Search Name" class="form-control form-control-sm" ng-model="savefield.searchName" required />
        </div>
        <div class="form-group">
            <select class="form-control" id="savesearchSport" ng-model="savefield.selectedSport">
                <option ng-repeat="x in sports" value="{{x.ID}}" ng-selected="$parent.searchFilter.selectedSport">{{x.SPORTLABEL}}</option>
            </select>
            <div class="form-group">
                    <select class="form-control" id="savesearchDate" ng-model="savefield.selectedDate" >
                        <option ng-repeat="x in dateoption" value="{{x[0]}}">{{x[1]}}</option>
                    </select>
            </div>
            <div ng-show="isDisplayed==true">
                <div class="form-group" ng-show="$parent.sportshow=='S'" >
                        <select class="form-control" id="savesearchTeam" ng-model="savefield.selectedTeam" >
                            <option value="ALL">All Teams</option>
                            <option ng-repeat="x in teamoption" value="{{x.TEAM}}">{{x.TEAM}}</option>
                        </select>
                </div>
                <div class="form-group" ng-show="$parent.sportshow=='R'">
                        <select class="form-control" id="savesearchEvent" ng-model="savefield.selectedEvent" >
                                <option value="ALL">All Locations</option>
                            <option ng-repeat="x in events" value="{{x.EVENT}}" ng-selected="selectedEvent">{{x.EVENT}}</option>
                        </select>
                </div>
            </div>
        </div>
        <!--div class="form-group">
            <select class="form-control" id="savesearchDate" ng-model="savefield.selectedDate" >
                <option ng-repeat="x in dateoption" value="{{x.DATEOPTION}}">{{x.DATELABEL}}</option>
            </select>
        </div>
        <div class="form-group" ng-show="sportshow==S">
            <select class="form-control" id="savesearchTeam" ng-model="savefield.selectedTeam" >
                <option ng-repeat="x in teamoption" value="{{x.TEAM}}">{{x.TEAMNAME}}</option>
            </select>
        </div>
        <div class="form-group" ng-show="sportshow==R">
            <select class="form-control" id="savesearchEvent" ng-model="savefield.selectedEvent" >
                <option ng-repeat="x in events" value="{{x.EVENT}}" ng-selected="selectedEvent">{{x.EVENT}}</option>
            </select>
        </div>

        <div class="button-group">
            <label for="promotype" class="makegrey">Promo Types</label>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Select Promo Type <span class="caret"></span></button>
            <ul class="dropdown-menu" ng-model="selectedPromotype">
                    <li ng-repeat="x in promotype"><a href="#" class="small" data-value="option1" tabIndex="-1"><input id="savesearch{{x.FIELDVALUE}}" name="{{x.FIELDVALUE}}" type="checkbox" value="{{x.FIELDVALUE}}" ng-model="searchFilter.promobox"/>&nbsp;{{x.FIELDVALUE}} </a></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="benefittype" class="makegrey">Benefit Types</label>
            <select class="form-control" id="savesearchbenefittype" ng-model="searchFilter.selectedbenefittype" ng-change="getPromo()">
                    <option value="">Select Benefit Type</option>  
                    <option ng-repeat="x in benefittype" value="{{x.FIELDVALUE}}">{{x.FIELDVALUE}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="maxBetRange" class="makegrey">Max bet for offer  <div class="float-right pl-3 text-white"><b>$<output  id="savesearchmaxBetRange_disp">{{maxbetdisplay}}</output></b></div></label>
            <input type="range" class="custom-range" min="{{minbet}}" max="{{maxbet}}" step="{{stepval}}" id="savesearchmaxBetRange" value="{{maxbetvalue}}" ng-model="searchFilter.maxBetRange" oninput="maxBetRange_disp.value = maxBetRange.value"> 
        </div-->

        <div class="custom-control custom-checkbox" ng-show="isDisplayed==true">
                <input type="checkbox" class="custom-control-input" id="alertactive" ng-model="savefield.alertActive">
                <label class="custom-control-label" for="alertactive">Alert me of new Promotions</label>
        </div>

        <div class="form-actions pt-3">
            <button type="button" class="btn btn-bna btn-primary" ng-click="commitSave()">Save Search</button>
        </div>

        <div class="form-group clearfix mt-4">
                <span ng-show="errorSave==0" class="alert-danger alert" role="alert">{{saveStatus}}</span>
                <span ng-show="errorSave==1" class="alert-success alert" role="alert">{{saveStatus}}</span>
        </div>

    </form>