<div id="toplogin">
        <div class="container">
            <div class="loginactions" ng-controller="NowDate">
                    <ul>
                        <div ng-show="$root.username!==undefined"> 
                            <li> | <a href="/managealerts" >Manage Alerts</a></li>
                            <li> | <a href="#" data-toggle="modal" data-target="#nobookieModal" >Manage Bookies</a></li>
                            <li class="nopad"><a href="/logout" class="loginbtntop"><img alt="Logout" src="assets/images/logout-black.png"></a></li>
                            <li class="padme"><b>{{username}}</b> logged in.</li>
                        </div>
                        <div ng-show="$root.username===undefined">
                                <li class="nopad"><a href="#" data-toggle="modal" data-target="#joinModal"  alt="Join" ><img alt="Join" src="assets/images/signup-red.png"></a></li>
                                <li class="nopad"><a href="#" data-toggle="modal" data-target="#loginModal" class="loginbtntop"><img alt="Login" src="assets/images/login-black.png"></a></li>
                        </div>
                        <!--li class="nopad"><a rel="nofollow" href="https://twitter.com/bettingnetworka" alt="Follow us Twitter BNA" title="Follow us Twitter BNA" target="_blank"><img alt="BNA Twitter" src="assets/images/twitter-blue.png"></a></li>
                        <li class="nopad"><a rel="nofollow" href ="https://www.facebook.com/bettingnetworka" alt="Like us Facebook BNA" title="Like us Facebook BNA" target="_blank"><img alt="BNA Facebook" src="assets/images/facebook-blue.png"></a></li-->
                        <li class="padme">{{CurrentDate | date:'HH:mm:ss'}} AEST</li>
                        <li class="padme">{{CurrentDate | date:'EEE dd, MMMM yyyy'}}</li>
                    </ul>
            </div>
        </div>
</div>

<div id="topbanner">
            <div class="top">
                <div class="topleft">
                    <div class="logo"><a href="/"><img alt="BettingNetworkAustralia.com.au" src="assets/images/BNA-Logo-web.png"></a> </div>
                </div>
            </div>
</div>