<!--div class="promomenu">
    <ul>
        <li><a href="/racing"><img src="assets/images/icon/racing-icon-menu.png" alt="Racing"/> Horse Racing</a></li>
        <li><a href="/nrl"><img src="assets/images/icon/nrl-icon-menu.png" alt="NRL"/> NRL</a></li>
        <li><a href="/afl"><img src="assets/images/icon/afl-icon-menu.png" alt="AFL"/> AFL</a></li>
        <li><a href="/us-sports"><img src="assets/images/icon/ussports-icon-menu.png" alt="US Sports"/> US Sports</a></li>
        <li><a href="/other-sports"><img src="assets/images/icon/othersports-icon-menu.png" alt="Other Sports"/> Other Sports</a></li>
        </li>
    </ul>
</div-->

<nav class=" navbar navbar-expand-lg navbar-light bg-light promomenu">
        <div class="collapse navbar-collapse contentcontainer" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/promo/horse-racing"><img src="assets/images/icon/racing-icon-menu.png" alt="Racing"/> Horse Racing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/promo/nrl"><img src="assets/images/icon/nrl-icon-menu.png" alt="NRL"/> NRL</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/promo/afl"><img src="assets/images/icon/afl-icon-menu.png" alt="AFL"/> AFL</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/promo/us-sports"><img src="assets/images/icon/ussports-icon-menu.png" alt="US Sports"/> US Sports</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/promo/other-sports"><img src="assets/images/icon/othersports-icon-menu.png" alt="Other Sports"/> Other Sports</a>
            </li>
          </ul>
        </div>
</nav>
<input type="hidden" name="sportcategory" id="sportcategory" ng-model="sportcat" value="racing" />