
<div class="container">
        <div id="content group">
        <div class="col span_2_of_2 contentbox">
            <div class="contentheader adbox">
                    <h3>Advert</h3>
            </div>
            <div class="contentcontainer adbox">
                <div class="contentbody" ng-controller="sitemapController">
                        <p>{{ message }}</p>
                        <p>here</p>
                </div>
            </div>
        </div>
        <div class="col span_1_of_2 contentbox">
                <div class="contentheader">
                        <h3>Site Map</h3>
                    </div>
                <div class="contentcontainer">
                    <div class="contentbody">
                            <div class="siteus">
                            <h4>Home</h4>
                            <ul>
                                <li><a href="/">Home</a></li>
                            </ul>
                            <h4>Help and Guidance</h4>
                            <ul>
                                <li><a href="/Help">Help</a></li>
                                <li><a href="/Info/Contact">Contact Us</a></li>
                            </ul>
                            <h4>Account Management</h4>
                            <ul>
                                <li><a href="/join">Join</a></li>
                            </ul>

                            <h4>Betting</h4>
                            <ul>

                                <li><a href="/nrl/betting">NRL Betting</a></li>
                                <li><a href="/afl/betting">AFL Betting</a></li>
                                <li><a href="/horse-racing/betting">Horse Racing Betting</a></li>
                                <li><a href="/form-guides">View Form Guide</a></li>
                                <li><a href="/racing">Bet on Horse Racing</a></li>
                                <li><a href="/bookmaker-comparison">Bookmaker Comparison</a></li>
                            </ul>

                            <h4>News</h4>
                            <ul>
                                <li><a href="/News">Racing and Sports News</a></li>
                            </ul>

                            <h4>Sports</h4>
                            <ul>
                                <li><a href="/horse-racing">Horse Racing</a></li>
                                <li><a href="/NRL">NRL</a></li>
                                <li><a href="/AFL">AFL</a></li>
                                <li><a href="/soccer">Soccer</a></li>
                                <li><a href="/cricket">Cricket</a></li>
                                <li><a href="/NBA">NBA</a></li>
                                <li><a href="/NFL">NFL</a></li>
                                <li><a href="/NHL">NHL</a></li>
                                <li><a href="/MLB">MLB</a></li>
                            </ul>

                            <h4>Leaderboards</h4>
                            <ul>

                                <li><a href="/horse-racing/australian-jockeys-premiership">Australian Jockeys Premiership</a></li>
                                <li><a href="/expert-tips/horseracing">Horse Racing  Expert Tips</a></li>
                                <li><a href="/expert-tips/NRL">NRL Expert Tips</a></li>
                                <li><a href="/expert-tips/AFL">AFL  Expert Tips</a></li>
                            </ul>

                            <h4>Teams</h4>
                            <ul>
                                <li><a href="/nrl/teams">NRL Teams</a></li>
                                <li><a href="/afl/teams">AFL Teams</a></li>
                            </ul>

                            <h4>Grounds</h4>
                            <ul>
                                <li><a href="/nrl/grounds">NRL Grounds</a></li>
                                <li><a href="/afl/grounds">AFL Grounds</a></li>
                            </ul>

                            <h4>BNA Information</h4>
                            <ul>
                                <li><a href="/Info/About">About Us</a></li>
                                <li><a href="/info/TOU">Terms of Use</a></li>
                                <li><a href="/our-team">Our Team</a></li>
                                <li><a href="/info/Privacy">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
    </div>
</div> <!-- end main content -->