<div class="container-fluid px-0">
    <form ng-submit="processSearch()" ng-controller="searchController">
        <div class="row mx-2">
            <div angucomplete-alt id="searchterm" placeholder="{{searchplace}}" pause="500" selected-object="selectedProject" remote-url="https://thegreattipoff.com/API/promotool.cfc?method=searchTerms"
                remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="" title-field="SEARCHVAL" description-field=""
                image-field="ICONPATH" minlength="2" input-class="form-control float-left rounded-left norightradius" match-class="highlight"
                input-name="searchval" initial-value="initvalue" class="col-10 px-0">
            </div>
            <button type="submit" id="searchbutton" class=" col-2 mt-1 btn btn-search-height btn-bna float-left d-inline rounded-right noleftradius">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    <form name="searchForm" ng-controller="resultController">
        <div class="row m-2">
            <div class="col-6 pl-0 pr-1">
                <div class="form-group">
                    <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text" ng-model="selectedDaterange"
                        required/>
                </div>
            </div>
            <div class="col-6 px-0">
                <div class="form-group" ng-init="loadSports()">
                    <select class="form-control" id="exampleFormControlSelect1" ng-model="searchFilter.selectedSport" ng-change="loadEvents()">
                        <option value="">Select Sport</option>
                        <option ng-repeat="x in sports" value="{{x.ID}}">{{x.SPORTLABEL}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-5 pl-0 pr-1">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect2" ng-model="searchFilter.selectedEvent" ng-change="loadMatches()">
                        <option value="">All {{eventlabel}}</option>
                        <option ng-repeat="x in events" value="{{x.EVENTDATE}}~{{x.EVENT}}">{{x.EVENT}} {{x.EVENTDATE | date:'EEE, d MMM yyyy'}}</option>
                    </select>
                </div>
            </div>
            <div class="col-5 pl-0 pr-1">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect3" ng-model="searchFilter.selectedMatch" ng-change="getMatchPromo()">
                        <option value="">All {{matchlabel}}</option>
                        <option ng-repeat="x in matches" value="{{x.EVENTID}}">{{x.EVENTLABEL}}</option>
                    </select>
                </div>
            </div>
            <div class="col-2 pr-0 btn-text pl-2 text-center" ng-click="toggleFilter()">Filters</br>
                <i class="fa fa-arrow-color"ng-class="!showFilter ? 'fa-chevron-down ' : 'fa-chevron-up '"></i>
            </div>
        </div>
        <div ng-if="showFilter" class="row m-2 bg-dropdown">
            <div class="col-12 pl-0 pr-1 ">
                <div class="row m-2">
                    <div class="col-12 pl-0 pr-1">
                        <label for="maxBetRange" class="makegrey">Max bet for offer
                            <div class="float-right pl-3 text-white menu-right">
                                <b>$
                                    <output id="maxBetRange_disp">{{maxbetdisplay}}</output>
                                </b>
                            </div>
                        </label>
                        <input type="range" class="custom-range" min="{{minbet}}" max="{{maxbet}}" step="{{stepval}}" id="maxBetRange" value="{{maxbetvalue}}"
                            ng-model="searchFilter.maxBetRange" oninput="maxBetRange_disp.value = maxBetRange.value" ng-mouseup="getPromo()">

                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12 pl-0 pr-1">
                        <div class="button-group" ng-init="loadPromotypes()">
                            <label for="promotype" class="makegrey">Promo Types</label>
                            <button type="button" class="btn btn-default makegrey dropdown-bna menu-right" data-toggle="dropdown">
                                <i class="fa fa-chevron-down fa-arrow-color"></i>
                            </button>
                            <ul class="dropdown-menu" ng-model="selectedPromotype">
                                <li ng-repeat="x in promotype">
                                    <a href="#" class="small" data-value="option1" tabIndex="-1">
                                        <input id="{{x.FIELDVALUE}}" name="promobox" type="checkbox" value="{{x.FIELDVALUE}}"
                                            ng-model="searchFilter.promobox" ng-change="getPromo()" />&nbsp;{{x.FIELDVALUE}} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12 pl-0 pr-1">
                        <div class="form-group row" ng-init="loadBenefittype()">
                            <label for="benefittype" class="makegrey col-6 pt-1">Benefit Types</label>
                            <!-- <button class="btn btn-default makegrey dropdown-bna btn-text menu-right" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-down fa-arrow-color"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="benefittype" ng-model="searchFilter.selectedbenefittype"
                                  ng-change="getPromo()">
                                  <button class="dropdown-item" ng-repeat="x in benefittype">{{x.FIELDVALUE}}</button>
                                  </div> -->
                            <select class="form-control col-6 makegrey dropdown-bna" id="benefittype" ng-model="searchFilter.selectedbenefittype"
                                ng-change="getPromo()">
                                <option value="">All</option>
                                <option ng-repeat="x in benefittype" value="{{x.FIELDVALUE}}">{{x.FIELDVALUE}}</option>
                            </select>
                                  
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12 pl-0 pr-1">
                        <div class="form-group row" ng-init="loadMybookies()">
                            <label for="bookieaccounts" class="makegrey col-6 pt-1">Bookmaker Accounts</label>{{}}
                           <select class="form-control col-6 makegrey dropdown-bna" id="bookieaccounts" ng-model="searchFilter.selectedBookies">
                                <option value="">{{bookiecount}} Added</option>
                                <option ng-repeat="x in bookieList" value="{{x.BOOKIEID}}">{{x.NAME}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-2 mb-4">
                    <div class="col-12 pl-0 pr-1">
                        <button type="reset" id="resetbutton" class="col-5 btn btn-secondary btn-md mx-3">
                            Reset Filters &nbsp;&nbsp;
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="submit" id="savesearch" name="savesearch" class="col-5 btn btn-bna btn-md">
                            Save Search&nbsp;&nbsp;
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>