<!-- Learn More Modal -->
<div class="modal fade" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="learnModalLongTitle">Promotion Tool</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!--button type="button" class="btn btn-primary">Save changes</button-->
        </div>
        </div>
    </div>
    </div>
    
    <!-- Terms Modal -->
    <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termsModalLongTitle">Terms and Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
                </div>
            </div>
            </div>
    
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="learnModalLongTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="col col-md-offset-3" ng-controller="loginController">
                            <form name="loginForm" ng-submit="getLogin()" role="form">
                                <div class="form-group">
                                    <label for="username">LoginID / Mobile</label>
                                    <input type="text" name="username" id="username" class="form-control" ng-model="loginUsername" required />
                                    <div class="invalid-feedback" ng-show="ngLoginError">{{loginerror}}}</div>
                                </div>
                                <div class="form-group" >
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" ng-model="loginPassword" required />
                                </div>
                                <div class="alert alert-danger" role="alert" ng-show="loginerror!==undefined">
                                        {{loginerror}}
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-bna btn-primary">Login</button>
                                    
                                    <a href="#" data-toggle="modal" data-target="#joinModal" class="btn btn-link">Register</a>
                                </div>
                            </form>
                    </div>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
            </div>
        </div>
    </div>
    
    <!-- Join Modal -->
    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="learnModalLongTitle">Join</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-10 col-md-offset-3" 
                        <nav >
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" ng-class="jointabclass" id="nav-join-tab" data-toggle="tab" href="#nav-join" role="tab" aria-controls="nav-join" aria-selected="true">Details</a>
                                <a class="nav-item nav-link" ng-class="bookietabclass" id="nav-bookie-tab" data-toggle="tab" href="#nav-bookie" role="tab" aria-controls="nav-bookie" aria-selected="false">Your Bookmakers</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent" ng-controller="joinController">
                            <div class="tab-pane fade show active" id="nav-join" role="tabpanel" aria-labelledby="nav-join-tab">
                                    <form name="joinForm" ng-submit="sendJoin()" role="form">
                                        <h4 class="pt-3">Sign up to use the {{toolname}}</h4>
                                            <div class="alert alert-warning" role="alert">
                                                Enter accurate information to ensure relevant offers are displayed to you.
                                            </div>
                                            <div class="form-group">
                                                    <input type="text" name="firstname" id="firstname" placeholder="Firstname" class="form-control form-control-sm" ng-model="fields.joinFirstname" required />
                                                    <span ng-show="errorFirstname!==undefined" class="text-danger help-block">{{errorFirstname}}</span>
                                            </div>
                                            <div class="form-group form-inline">
                                                <input type="text" name="loginid" id="loginid" placeholder="Mobile Number" size="20" maxlength="10" class="form-control form-control-sm" ng-model="fields.joinMobile" required />
                                                <small id="passwordHelpInline" class="text-muted float-right pl-4">
                                                        This is your easy remember login ID <img src="assets/images/icon/info.png" data-html="true" data-toggle="popover" title="Login with your mobile" data-content="When clicking info icon for mobile outline reasons
                                                        why<br/>* Confirm Bookmaker account in order to display
                                                        ads to you<br/>* Easy support contact<br/>* Easy remember
                                                        login<br/>* To ensure we can easily contact you if you
                                                        win one of our many promotions."/>
                                                </small>
                                                <span ng-show="errorMobile!==undefined" class="text-danger help-block">{{errorMobile}}</span>
                                            </div>
                                            <div class="form-group" >
                                                <input type="password" name="joinpassword" id="joinpassword" placeholder="Password" class="form-control form-control-sm" ng-model="fields.joinPassword" required />
                                                <span ng-show="errorPassword!==undefined" class="text-danger help-block">{{errorPassword}}</span>
                                            </div>
                                            <div class="form-group" >
                                                    <input type="password" name="confpassword" placeholder="Confirm Password" id="confpassword" class="form-control form-control-sm" ng-model="fields.joinConfpassword" required />
                                                    <span ng-show="errorConfpassword!==undefined" class="text-danger help-block">{{errorConfpassword}}</span>
                                            </div>
                                            <div class="form-group">
                                                    <select class="form-control form-control-sm" name="state" id="state" ng-model="fields.joinState">
                                                        <option value="">Select State</option> 
                                                        <option value="ACT">Australian Capital Territory</option>
                                                        <option value="NSW">New South Wales</option>
                                                        <option value="NT">Northern Territory</option>
                                                        <option value="QLD">Queensland</option>
                                                        <option value="SA">South Australia</option>
                                                        <option value="TAS">Tasmania</option>
                                                        <option value="VIC">Victoria</option>
                                                        <option value="WA">Western Australia</option>
                                                    </select>
                                                    <span ng-show="errorState!==undefined" class="help-block text-danger">{{errorState}}</span>
                                            </div>
                                            <div class="form-check">
                                                    <input class="form-check-input" name="terms" type="checkbox" value="" id="termsCheck" ng-model="fields.joinTerms">
                                                    <label class="form-check-label" for="termsCheck">
                                                            I have read and agreed to the <a href="/promotool/terms" target="_blank">Terms and conditions</a> and confirm that I am over 18 years old.
                                                    </label>
                                                    <span ng-show="errorTerms!==undefined" class="help-block text-danger">{{errorTerms}}</span>
                                            </div>
                                            <div class="alert alert-danger mt-3" role="alert" ng-show="joinerror!==undefined">
                                                    {{joinerror}}
                                            </div>
                                            <div class="alert alert-success mt-3" role="alert" ng-show="joinsuccess!==undefined">
                                                    {{joinsuccess}}
                                            </div>
                                            <div class="form-actions pt-3">
                                                <button type="submit" class="btn btn-bna btn-primary">Join Now</button>
                                                
                                                <a href="#" ng-model="resendVerify"  class="btn btn-link float-right" ng-click="resendVerify()">Resend verification ID</a>
                                            </div>
                                        </form>
                            </div>
                            <div class="tab-pane fade" id="nav-bookie" role="tabpanel" aria-labelledby="nav-bookie-tab" ng-controller="bookieController">
                                    <form name="bookieForm" ng-submit="sendBookie()" role="form">
                                            <h4 class="pt-3">Enter your bookmakers</h4>
                                            <p><i>Enter accurate information to ensure relevant offers are displayed to you.</i></p>
                                            <p>Add <u>all Australian bookmakers</u> you currently have accounts with so we can show you their offers</p>
                                            
                                            <div angucomplete-alt
                                                id="searchbookie-1"
                                                placeholder="Enter bookmaker company"
                                                pause="500"
                                                selected-object="selectedBookie"
                                                remote-url="https://thegreattipoff.com/API/promotool.cfc?method=getBookies&q="
                                                remote-url-request-formatter="remoteUrlRequestFn"
                                                remote-url-data-field=""
                                                title-field="NAME"
                                                description-field=""
                                                image-field="LOGO"
                                                minlength="2"
                                                input-class="form-control float-left ml-3"
                                                match-class="highlight"
                                                input-name="selectedBookie" >
                                            </div>
                                                
                                            <div ng-show="selectedBookie.originalObject.NAME!==undefined" class="whitebg">
                                                    <h3>{{selectedBookie.originalObject.NAME}}</h3>
                                                    <ul>
                                                        <li>I am a {{selectedBookie.originalObject.NAME}} account holder <a href="" ng-click="addBookie(selectedBookie.originalObject.BOOKIEID)">Add to my List</a></li>
                                                        <li>I want to see promotions for {{selectedBookie.originalObject.NAME}} <a ng-click="addpendingBookie(selectedBookie.originalObject.BOOKIEID)" onclick="window.open(this.href,'targetWindow',
                                                            'height=520, width=400,scrollbars=yes,directories=no,toolbar=no,location=no,status=no,menubar=no');
                          return false;" href="/bookieredirect?bookmaker={{selectedBookie.originalObject.NAME}}&bookieID={{selectedBookie.originalObject.BOOKIEID}}&dest={{selectedBookie.originalObject.REGISTERPATH}}">JOIN now</a></li>
                                                        <li><a href="" ng-click="clearInput('searchbookie')" >Cancel</a></li>
                                                    </ul>
                                            </div>
                                            <div class="mybookielist mt-3" ng-init="getmyBookies()">
                                                    <h4>My Bookmaker Accounts</h4>
                                                    <div ng-repeat="x in bookieresponse.data" >
                                                        <div ng-if="x.AUTHORISEDBM == 0" class="alert alert-warning" role="alert">
                                                                <p>CONFIRM you are now a <b>{{x.NAME}}</b> account holder <a href="" ng-click="authBookie(x.BOOKIEID)">YES - I am</a> or <a href="" ng-click="removeBookie(x.BOOKIEID)">No Remove</a></p>
                                                        </div>
                                                        <div ng-if="x.AUTHORISEDBM == 1">
                                                             <p>{{x.NAME}}  <a href="" ng-click="removeBookie(x.BOOKIEID)">Remove</a></p>
                                                        </div>
                                                    </div>
                                            </div>
                                           
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
                </div>
            </div>
        </div>
    
    <!-- Bookie List Modal -->
    <div class="modal fade" id="bookieModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="learnModalLongTitle">Pending Bookmakers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="col col-md-offset-3" ng-controller="bookieController">
                                <div class="mybookielist mt-3" ng-init="getpendingBookies()">
                                        <h4>Bookmaker Accounts Pending Confirmation</h4>
                                        <div ng-repeat="x in bookiePendingresponse.data" >
                                            <div ng-if="x.AUTHORISEDBM == 0" class="alert alert-warning" role="alert">
                                                    <p>CONFIRM you are now a <b>{{x.NAME}}</b> account holder <a href="" ng-click="authBookie(x.BOOKIEID)">YES - I am</a> or <a href="" ng-click="removeBookie(x.BOOKIEID)">No Remove</a></p>
                                            </div>
                                            <div ng-if="x.AUTHORISEDBM == 1">
                                                 <p>{{x.NAME}}  <a href="" ng-click="removeBookie(x.BOOKIEID)">Remove</a></p>
                                            </div>
                                        </div>
                                </div>
                        </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
                </div>
            </div>
        </div>
    
        <!-- No Bookie List Modal -->
    <div class="modal fade" id="nobookieModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="learnModalLongTitle">Add Bookmakers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="col col-md-offset-3" ng-controller="bookieController">
                                <div class="mybookielist" ng-init="getpendingBookies()">
                                        <form name="bookieForm" ng-submit="sendBookie()" role="form">
                                                <h4>Enter your bookmakers</h4>
                                                <p><i>Enter accurate information to ensure relevant offers are displayed to you.</i></p>
                                                <p>Add <u>all Australian bookmakers</u> you currently have accounts with so we can show you their offers</p>
                                                
                                                <div angucomplete-alt
                                                    id="searchbookie-2"
                                                    placeholder="Enter bookmaker company"
                                                    pause="500"
                                                    selected-object="selectedBookie"
                                                    remote-url="https://thegreattipoff.com/API/promotool.cfc?method=getBookies&q="
                                                    remote-url-request-formatter="remoteUrlRequestFn"
                                                    remote-url-data-field=""
                                                    title-field="NAME"
                                                    description-field=""
                                                    image-field="LOGO"
                                                    minlength="2"
                                                    input-class="form-control float-left ml-3"
                                                    match-class="highlight"
                                                    input-name="selectedBookie" >
                                                </div>
                                                    
                                                <div ng-show="selectedBookie.originalObject.NAME!==undefined" class="whitebg">
                                                        <h3>{{selectedBookie.originalObject.NAME}}</h3>
                                                        <ul>
                                                            <li>I am a {{selectedBookie.originalObject.NAME}} account holder <a href="" ng-click="addBookie(selectedBookie.originalObject.BOOKIEID)">Add to my List</a></li>
                                                            <li>I want to see promotions for {{selectedBookie.originalObject.NAME}} <a ng-click="addpendingBookie(selectedBookie.originalObject.BOOKIEID)" onclick="window.open(this.href,'targetWindow',
                                                                'height=520, width=400,scrollbars=yes,directories=no,toolbar=no,location=no,status=no,menubar=no');
                              return false;" href="/bookieredirect?bookmaker={{selectedBookie.originalObject.NAME}}&bookieID={{selectedBookie.originalObject.BOOKIEID}}&dest={{selectedBookie.originalObject.REGISTERPATH}}">JOIN now</a></li>
                                                            <li><a href="" ng-click="clearInput('searchbookie')" >Cancel</a></li>
                                                        </ul>
                                                </div>
                                                <div class="mybookielist mt-3" ng-init="getmyBookies()">
                                                        <h4>My Bookmaker Accounts</h4>
                                                        <div ng-repeat="x in bookieresponse.data" >
                                                            <div ng-if="x.AUTHORISEDBM == 0" class="alert alert-warning" role="alert">
                                                                    <p>CONFIRM you are now a <b>{{x.NAME}}</b> account holder <a href="" ng-click="authBookie(x.BOOKIEID)">YES - I am</a> or <a href="" ng-click="removeBookie(x.BOOKIEID)">No Remove</a></p>
                                                            </div>
                                                            <div ng-if="x.AUTHORISEDBM == 1">
                                                                 <p>{{x.NAME}}  <a href="" ng-click="removeBookie(x.BOOKIEID)">Remove</a></p>
                                                            </div>
                                                        </div>
                                                </div>
                                               
                                        </form>
                                </div>
                        </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="learnModalLongTitle">Verify Mobile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="col col-md-offset-3" ng-controller="verifymobileController">
                                <div class="mybookielist" >
                                        <form name="bookieForm" ng-submit="sendVerify()" role="form">
                                            <h4>Enter the mobile verification code</h4>
                                            
                                            <div class="form-group">
                                                    <input type="text" name="verificationcode" id="verificationcode" placeholder="Verification Code" class="form-control form-control-sm" ng-model="fields.verfiyCode" required />
                                            </div>
                                            <div class="form-group">
                                                <span ng-show="errorVerify==0" class="alert-danger alert" role="alert">{{errorMessage}}</span>
                                                <span ng-show="errorVerify==1" class="alert-success alert" role="alert">{{errorMessage}}</span>
                                            </div>
    
                                            <div class="form-actions pt-3">
                                                <button type="submit" class="btn btn-bna btn-primary">Submit Verification</button>
                                                
                                                <a href="#" ng-model="resendVerify"  class="btn btn-link float-right" ng-click="resendVerify()">Resend verification ID</a>
                                            </div>
                                        </form>
                                </div>
                        </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
                </div>
            </div>
        </div>