<div class="row contentcontainer pt-3 white-bg clearfix">
        <div class="col-sm-12 col-md-9">
                <div class="row">
                        <div class="col white-bg" ng-show="totalpromotions > 0">
                                <div class="row row-position">
                                        <h5 class="text-color font-weight-bold">Your search results </h5>&nbsp;&nbsp;
                                        <h6 class="font-weight-bold">(Showing {{mypromotions}} of {{totalpromotions}} available promotions)</h6>
                                        <h6 class="text-color float-right font-weight-bold text-right"><u>Why not show more?</u></h6>
                                </div>
                        </div>
                </div>
                <div class="row white-bg">
                        <div ng-bind-html="searcherrormessage"></div>
                </div>
                <div class="row my-3">
                        Sort by: &nbsp;       <select>
                                                <option value="Our Recommendations">Our Recommendations</option>
                                                <option value="Best value">Best value</option>
                                                <option value="Best value">Ranking</option>
                                                <option value="Deposit amount(ascending)">Deposit amount(ascending)</option>
                                                <option value="Deposit amount(descending)">Deposit amount(descending)</option>
                                              </select>
                </div>
                        <div ng-repeat="x in searchresponse.data.PROMOSET" ng-controller="resultChartCtrl">
                <div class="row border bg-promo mb-3">
                                <div class="col-sm-10 col-md-3 float-left nopadding-left" style="background-color: {{x.BRANDCOLOURCODE}}">
                                        <img src="assets/images/bookie/{{x.BRANDIMAGEPATH}}" class="img-responsive img-styles" alt="{{x.PROMOIMAGE}}">
                                </div>
                                <div class="col-sm-10 col-md-6 borderright float-left">
                                        <h4 class="font-weight-bold mt-3" style="color: {{x.BRANDCOLOURCODE}}">{{x.PROMOTITLE}}</h4>
                                        <div class="borderbottom" />
                                        <h6 class="font-italic font-weight-bold">{{x.PROMOSUBHEADER}}</h6>
                                        <p class="text-justify">{{x.PROMODETAILS}}</p>
                                        <p class="font-weight-bold">Terms and conditions
                                                <a class="float-right showhidden" id="showterm-{{x.ID}}" href="" data-toggle="collapse" data-target="#tc-{{x.ID}}" aria-expanded="true"
                                                        aria-controls="collapseOne">Show/Hide</a>
                                        </p>
                                        <div id="tc-{{x.ID}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <p>
                                                        {{x.PROMOTC}}
                                                </p>
                                        </div>
                                </div>
                                <div class="col-sm-12 col-md-3 mt-3 float-left">
                                        <span>Value:
                                                <div class="float-right">{{x.VALUE}}/100</div>
                                        </span>
                                        <div class="progress mb-3">
                                                <div class="progress-bar {{progressValueClass}}" role="progressbar" style="width: {{x.VALUE}}%" aria-valuenow="{{x.VALUE}}"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Ranked:
                                                <div class="float-right">{{x.RANK}} of 36</div>
                                        </span>
                                        <div class="progress mb-4">
                                                <div class="progress-bar {{progressRankClass}}" role="progressbar" style="width: {{rankbar}}%" aria-valuenow="{{x.RANK}}"
                                                        aria-valuemin="0" aria-valuemax="36"></div>
                                        </div>
                                        <a class="btn btn-size btn-text" target="_blank" href="{{x.PROMOLINK}}" role="button" style="background-color: {{x.BRANDCOLOURCODE}}">View Offer&nbsp;&nbsp;></a>
                                </div>
                        </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-3 margin-top">
                <img ng-src="{{rhspromoadad}}" class="img-responsive img-styles" alt="" href="{{rhspromoadlink}}">
        </div>
</div>