<div class="contentcontainer">
<form ng-submit="processSearch()"   ng-controller="searchController">
    <div class="row w-100 d-block">
        <div angucomplete-alt
                id="searchterm"
                placeholder="{{searchplace}}"
                pause="500"
                selected-object="selectedProject"
                remote-url="https://thegreattipoff.com/API/promotool.cfc?method=searchTerms"
                remote-url-request-formatter="remoteUrlRequestFn"
                remote-url-data-field=""
                title-field="SEARCHVAL"
                description-field=""
                image-field="ICONPATH"
                minlength="2"
                input-class="form-control float-left rounded-left norightradius"
                match-class="highlight"
                input-name="searchval"
                initial-value="initvalue"
                class="col-sm-8 col-md-11">
        </div>
        <!--<input class="form-control float-left ml-3 rounded-left  norightradius"  id="searchterm" type="text" placeholder="Type here e.g. NRL or Bulldogs or Rugby League or First Try Scorer">-->
        <input type="submit" id="searchbutton" value="Search" class="col-sm-4 col-md-1 pb-3 btn-search-height btn btn-bna float-left d-inline rounded-right noleftradius"/>
</div>
</form>
<form name="searchForm" ng-controller="resultController">
    <div class="row w-100 d-block clearfix" >
            <div class="col d-flex bd-highlight">
                    <div class="col nopadding-left py-2 flex-fill bd-highlight">
                            <div class="form-group">
                                        <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text"
                                        ng-model="selectedDaterange" required/>
                            </div>
                    </div>
                    <div class="col p-2 flex-fill bd-highlight">
                                <div class="form-group" ng-init="loadSports()">
                                    <select class="form-control" id="exampleFormControlSelect1" ng-model="searchFilter.selectedSport" ng-change="loadEvents()">
                                        <option value="">Select Sport</option>  
                                        <option ng-repeat="x in sports" value="{{x.ID}}">{{x.SPORTLABEL}}</option>
                                    </select>
                                </div>
                    </div>
                    <div class="col p-2 flex-fill bd-highlight">
                            <div class="form-group" >
                                <select class="form-control" id="exampleFormControlSelect2" ng-model="searchFilter.selectedEvent" ng-change="loadMatches()">
                                    <option value="">All {{eventlabel}}</option> 
                                    <option ng-repeat="x in events" value="{{x.EVENTDATE}}~{{x.EVENT}}">{{x.EVENT}} {{x.EVENTDATE | date:'EEE, d MMM yyyy'}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="col p-2 nopadding-right flex-fill bd-highlight">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect3" ng-model="searchFilter.selectedMatch" ng-change="getMatchPromo()">
                                    <option value="">All {{matchlabel}}</option> 
                                    <option ng-repeat="x in matches" value="{{x.EVENTID}}">{{x.EVENTLABEL}}</option>
                                </select>
                            </div>
                    </div>
                    
            </div>
    </div>
    <div class="row w-100 d-block clearfix">
            <div class="col d-flex bd-highlight">
                <div class="col p-2 nopadding-left flex-fill bd-highlight">
                    <label for="maxBetRange" class="makegrey">Max bet for offer  <div class="float-right pl-3 text-white"><b>$<output  id="maxBetRange_disp">{{maxbetdisplay}}</output></b></div></label>
                    <input type="range" class="custom-range" min="{{minbet}}" max="{{maxbet}}" step="{{stepval}}" id="maxBetRange" value="{{maxbetvalue}}" ng-model="searchFilter.maxBetRange" oninput="maxBetRange_disp.value = maxBetRange.value" ng-mouseup="getPromo()"> 
                </div>
                <div class="col p-2 flex-fill bd-highlight">
                        <!--div class="form-group" ng-init="loadPromotypes()">
                                <label for="promotype" class="makegrey">Promo Types</label>
                                <select class="form-control" id="promotype" ng-model="selectedPromotype">
                                        <option value="">Select Promotype</option>  
                                        <option ng-repeat="x in promotype" value="{{x.FIELDVALUE}}">{{x.FIELDVALUE}}</option>
                                </select>
                        </div-->
                        <div class="button-group" ng-init="loadPromotypes()">
                                <label for="promotype" class="makegrey ml-3">Promo Types</label>
                                <button type="button" class="btn btn-default btn-block dropdown-toggle makegrey dropdown-bna btn-text" data-toggle="dropdown">Select Promo Type
                                         <span class="caret pl-5"></span></button>
                                <ul class="dropdown-menu" ng-model="selectedPromotype">
                                        <li ng-repeat="x in promotype"><a href="#" class="small" data-value="option1" tabIndex="-1"><input id="{{x.FIELDVALUE}}" name="promobox" type="checkbox" value="{{x.FIELDVALUE}}" ng-model="searchFilter.promobox" ng-change="getPromo()"/>&nbsp;{{x.FIELDVALUE}} </a></li>
                                </ul>
                        </div>
                </div>
                <div class="col p-2 flex-fill bd-highlight">
                        <div class="form-group" ng-init="loadBenefittype()">
                                <label for="benefittype" class="makegrey ml-3">Benefit Types</label>
                                <select class="form-control makegrey dropdown-bna " id="benefittype" ng-model="searchFilter.selectedbenefittype" ng-change="getPromo()">
                                        <option value="">Select Benefit Type</option>  
                                        <option ng-repeat="x in benefittype" value="{{x.FIELDVALUE}}">{{x.FIELDVALUE}}</option>
                                </select>
                        </div>
                </div>
                <div class="col p-2 flex-fill bd-highlight">
                        <div class="form-group" ng-init="loadMybookies()">
                                <label for="bookieaccounts" class="makegrey ml-3">Bookmaker Accounts</label>
                                <button type="button" class="float-right btn btn-secondary btn-sm btn-text" data-toggle="modal" data-target="#nobookieModal">Add</button>
                                <select class="form-control makegrey dropdown-bna" id="bookieaccounts" ng-model="searchFilter.selectedBookies">
                                        <option value="">{{bookiecount}} Added</option>  
                                        <option ng-repeat="x in bookieList" value="{{x.BOOKIEID}}">{{x.NAME}}</option>
                                </select>
                        </div>
                </div>
                <div class="col mt-3 p-2 nopadding-right flex-fill bd-highlight ">
                    <input type="button" name="savesearch" class="btn btn-bna btn-md float-right" id="savesearch" value="Save Search" />
                </div>
            </div>
    </div>
</form>
</div>