<div class="modal fade" id="savesearchModal" tabindex="-1" role="dialog" aria-labelledby="learnModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="learnModalLongTitle">Save Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="col col-md-offset-3">
                        <div class="mybookielist" >
                                <div ng-include="'app/shared/app-searchoptions-mobile.html'"></div>
                        </div>
                </div>                    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!--button type="button" class="btn btn-primary">Save changes</button-->
        </div>
        </div>
    </div>
</div>