<div class="row container-fluid px-0 pt-3 ml-0 white-bg clearfix ng-scope">
        <div class="col-xs-12 col-sm-12">
                <div class="row pl-1">
                        <div class="col-xs-12 col-sm-12 white-bg" ng-show="totalpromotions > 0">
                                <div class="row row-position">
                                        <div class="col-10 p-0">
                                                <h5 class="text-color font-weight-bold pl-1">Your search results </h5>
                                                <h6 class="font-weight-bold pl-1">(Showing {{mypromotions}} of {{totalpromotions}} available promotions)</h6>

                                        </div>
                                        <div class="col-2 p-0">
                                                <b class="text-center">Sort:</b>
                                                </br>
                                                <img src="assets/images/icon/sort-icon.png" class="img-responsive float-right" />
                                        </div>

                                </div>
                        </div>
                </div>
                <div class="row white-bg pl-1">
                        <div ng-bind-html="searcherrormessage"></div>
                </div>
                <!-- <div class="row my-3">
                        Sort by: &nbsp;
                        <select>
                                <option value="Our Recommendations">Our Recommendations</option>
                                <option value="Best value">Best value</option>
                                <option value="Best value">Ranking</option>
                                <option value="Deposit amount(ascending)">Deposit amount(ascending)</option>
                                <option value="Deposit amount(descending)">Deposit amount(descending)</option>
                        </select>
                </div> -->
                <div ng-repeat="x in searchresponse.data.PROMOSET" ng-controller="resultChartCtrl">
                        <div class="row border bg-promo my-2 row-height">
                                <div class="col-2 p-0 image-center" style="background-color: {{x.BRANDCOLOURCODE}}">
                                        <img src="assets/images/bookie/{{x.BRANDIMAGEPATH}}" class="img-fluid" alt="{{x.PROMOIMAGE}}">
                                        <div class="info-text btn-text pl-1">
                                                <a ng-if="!showDetails" class="image-center" href="" target="_blank" style="background-color: {{x.BRANDCOLOURCODE}}" ng-click="toggleDetails()">
                                                        <img src="assets/images/icon/more-info.png" class="img-fluid mx-auto img-more">
                                                </a>
                                                <a ng-if="showDetails" class="image-center" href="" target="_blank" style="background-color: {{x.BRANDCOLOURCODE}}" ng-click="toggleDetails()">
                                                        <img src="assets/images/icon/angle-right.png" class="img-fluid mx-auto img-rotate">
                                                </a>
                                        </div>

                                </div>
                                <div class="col-9">
                                        <h6 ng-if="x.PROMOSUBHEADER" class="font-weight-bold mb-2" style="color: {{x.BRANDCOLOURCODE}}">{{x.PROMOSUBHEADER}}</h6>
                                        <h6 ng-if="!x.PROMOSUBHEADER" class="font-weight-bold mb-2" style="color: {{x.BRANDCOLOURCODE}}">{{x.PROMOTITLE}}</h6>
                                        <div class="row">
                                                <div class="col-6">
                                                        <span class="text-height">Value:
                                                                <div class="float-right">{{x.VALUE}}/100</div>
                                                        </span>
                                                        <div class="progress mb-2">
                                                                <div class="progress-bar {{progressValueClass}}" role="progressbar" style="width: {{x.VALUE}}%" aria-valuenow="{{x.VALUE}}"
                                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                </div>
                                                <div class="col-6 nopadding-left">
                                                        <span class="text-height">Ranked:
                                                                <div class="float-right">{{x.RANK}} of 36</div>
                                                        </span>
                                                        <div class="progress mb-2">
                                                                <div class="progress-bar {{progressRankClass}}" role="progressbar" style="width: {{rankbar}}%" aria-valuenow="{{x.RANK}}"
                                                                        aria-valuemin="0" aria-valuemax="36"></div>
                                                        </div>

                                                </div>
                                        </div>
                                        <div class="px-15" ng-if="showDetails">
                                                <b>{{x.PROMOTITLE}}</b>
                                                <p class="pt-15">
                                                        {{x.PROMODETAILS}}
                                                </p>
                                        </div>
                                </div>
                                <div class="col-1 px-0">
                                        <a class="h-100 image-center" target="_blank" href="{{x.PROMOLINK}}" style="background-color: {{x.BRANDCOLOURCODE}}">
                                                <img src="assets/images/icon/angle-right.png" class="img-fluid img-size mx-auto">
                                        </a>
                                </div>
                        </div>
                </div>
        </div>